
/* =======================================================

	graph-page

======================================================== */

.graph {

  .text-block {
    text-align: center;
    margin-bottom: 500px;
    p {
      font-size: 3rem;
    }
  }
}

.chartGraphBox {
  margin-bottom: 500px;
}

.chart_block {
  margin: 0 auto;
  text-align: center;

  h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1em;
  }
}
