
/* =======================================================

	index

======================================================== */

.text-block {
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
  }
}

.index {
  .top-block {
    border: 1px solid #000;
    margin-bottom: 30px;
    transition: 1s;
    a {
      font-size: 1.8rem;
      display: block;
      padding: 40px;
    }

    &:hover {
      background-color: rgb(243, 234, 234);
    }
  }
}
